
    #box1 {
        /* fallback for old browsers */
        /* background: #f093fb; */
        height: 100vh;
        background: url('/static/dsec.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        
        /* Chrome 10-25, Safari 5.1-6 */
        /*background: -webkit-linear-gradient(to bottom right, rgba(240, 147, 251, 1), rgba(245, 87, 108, 1));*/
        
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        /* background: linear-gradient(to bottom right, rgba(240, 147, 251, 1), rgba(245, 87, 108, 1))*/
        }
        
        .card-registration .select-input.form-control[readonly]:not([disabled]) {
        font-size: 1rem;
        line-height: 2.15;
        padding-left: .75em;
        padding-right: .75em;
        }
        .card-registration .select-arrow {
        top: 13px;
        }

        #box{
          max-width: 750px;
          position: relative;
          display: block;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
          background: rgba(255, 255, 255, .7);   
          padding: 30px;
         }
         
/* #87CEEB rgba(255, 255, 255, .4) */