<!doctype html>
<html lang="en">

<head>
  <title>Feedback System</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/main.css">
</head>
  
<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">DSEC</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="/admin">Admin Login <span class="sr-only"></span></a>
          <a class="nav-item nav-link" href="/hod">HOD Login</a>
          <a class="nav-item nav-link" href="/staff">Staff Login</a>
          <a class="nav-item nav-link" href="/student">Student Login</a>
        </div>
      </div>
    </nav>
  </header>
    
  <main>
    <section class="vh-100 gradient-custom" style="background-color: #f4bcfa;">
              <div id="box1">
                <div id="box" style="overflow-y: scroll;">
                  <center>
                  <h2>Dhanalakshmi Srinivasan Engineering College</h2><br>
                  <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Feedback System</h3>
                  <h4>Staff Login</h4><br>
                  <form action="/staffLogin" method="POST">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="name">User Name</span>
                    </div>
                    <input required placeholder="Enter Your Name" type="text" name="name" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                  </div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="pwd">Password</span>
                    </div>
                    <input required type="Password" placeholder="Enter Your ID" name="pwd" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                  </div>
                  <button type="submit" class="btn btn-dark">Submit</button>
                </form>
              </center>
                </div>
              </div>
    </section>
  </main>
  <footer>
    <!-- place footer here -->
  </footer>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>
</body>

</html>